PORT=3000
ECOMMERCE_GRPC_URL=localhost:50051
IDENTITY_GRPC_URL=localhost:50052
BIOMETRIC_GRPC_URL=localhost:50053

# =========================================================
# AUTH / JWT
# =========================================================
JWT_SECRET=dG9pbGFtb3RuZ3VvaXNpZXVkZXB0cmFpbmhhdHRoZWdpb2ljb25ndW9peWV1dGVubGFiZXR5
JWT_EXPIRES_IN=3600
JWT_ACCESS_TOKEN_SECRET=aXRsYW1vdG5nYW5odGhhdHR1eWV0dm9pdG9pcmF0eWV1bm9oYXltYW5nZGVuY2hvdG9pbmhpZXV0aHVob25udWE=
FRONTEND_URL=http://localhost:3000

# =========================================================
# RABBITMQ
# =========================================================
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=myapp

# =========================================================
# REDIS
# =========================================================
REDIS_URL=redis://localhost:6379

# =========================================================
# POSTGRESQL (Prisma)
# =========================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bioring
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/bioring?schema=public

# =========================================================
# MONGODB
# =========================================================
MONGODB_URI=mongodb://localhost:27017/mydb

# =========================================================
# GOOGLE OAUTH (nếu cần)
# =========================================================
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
