fastapi
uvicorn
python-dotenv
pydantic
python-multipart
aiofiles
minio
qdrant-client
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-qdrant
pypdf
pika
httpx
opencv-python
numpy
pillow
